body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.posts {
  max-width:500px;
}
small {
  display: block;
  text-align: right;
  padding-right: 5px;
}
.select {
  background-color: cadetblue;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}
.blog {
  padding:30px;
  display: grid;
  grid-template-columns: 500px 500px;
}
.author {
  margin-top: 70px;
  position: fixed;
  padding: 15px;
  border-radius: 10px;
  left: 500px;
  margin-left: 50px;
  background-color: #ccc;
}
span.title {
  font-weight: 600;
}
.auth-comment {
  display: flex;
  justify-content:space-between;
}
.comments-btn, .posts h3 {
  cursor:pointer;
}
.comment-row p {
  margin-top: 5px;
}

.comment-row h4 {
  margin: 0;
}